{{#if userChat}}
{{#each userChat}}
<div> <strong style="color: blue">{{this.username}}</strong>
<span style="color: brown">[{{this.time}}]:</span> 
<em style="color: green; font-style: italic">{{this.message}}</em> </div>
{{/each}}
{{/if}}
